auths:
  public_v2:                    # This is the name of the auth profile, which contains within it the SNMP community string.
    version: 2
    community: {{ snmp_read }}
modules: {{snmp_modules}}